.logoetiqa {
    width: 100%;
    height: 92px;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--color-salmon);
  }
  .hunger-bay1 {
    margin: 0;
    width: 188px;
    height: 67px;
    position: relative;
    font-size: inherit;
    display: inline-block;
    font-style: italic;
    font-weight: 700;
    font-family: inherit;
    flex-shrink: 0;
    z-index: 1;
  }
  .logoetiqa-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding: var(--padding-27xl) var(--padding-52xl) 0;
    position: relative;
    text-align: left;
    font-size: var(--font-size-11xl);
    color: var(--color-snow);
    font-family: var(--font-inter);
  }
  .opt-aboutcom-coeus-resource-icon1 {
    width: 136px;
    height: 102px;
    position: relative;
    object-fit: cover;
    display: none;
  }

  .hamrex2-pineapple-ham-pizza-qw1 {
    width: 2048px;
    height: 1365px;
    position: relative;
    display: none;
  }

  .download-6-11 {
    height: 88px;
    width: 117px;
    position: relative;
    object-fit: cover;
  }
  .additional-clauses {
    height: 48px;
    width: 192px;
    position: absolute;
    margin: 0 !important;
    top: -17px;
    left: -56px;
    background-color: var(--color-pink);
  }

  .nachos1 {
    height: 34px;
    flex: 1;
    position: relative;
    display: inline-block;
    font-weight: 700;
    z-index: 1;
  }

  .additional-clauses-parent {
    width: 154px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 0 var(--padding-xl);
    box-sizing: border-box;
    position: relative;
  }

  .frame-container {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    padding: var(--padding-mid) 0 0;
  }

  .download-6-1-group,
.frame-wrapper {
  display: flex;
  justify-content: flex-start;
}

.frame-wrapper {
    flex: 1;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 0 var(--padding-2xs);
  }

  .download-6-1-group {
    align-self: stretch;
    flex-direction: row;
    align-items: center;
    padding: 0 0 0 var(--padding-lg);
    gap: 0 10px;
  }

  .download-7-11 {
    height: 100px;
    width: 104px;
    position: relative;
    object-fit: cover;
  }

  .additional-clauses1 {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-pink);
  }

  .additional-clauses1 {
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color-pink);
  }

  .additional-clauses-group,
.frame-wrapper1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.additional-clauses-group {
    align-self: stretch;
    align-items: flex-end;
    padding: var(--padding-2xs) 3px var(--padding-mid);
    position: relative;
  }

  .frame-wrapper1 {
    height: 69px;
    align-items: flex-start;
    padding: 0 0 9px;
    box-sizing: border-box;
  }

  .container-inner,
.download-7-1-parent {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.download-7-1-parent {
  flex: 1;
  align-items: flex-end;
  gap: 0 14px;
}

.container-inner {
    align-self: stretch;
    align-items: flex-start;
    padding: 0 27px 0 var(--padding-5xl);
  }
  .images-2-11 {
    height: 85px;
    width: 104px;
    position: relative;
    object-fit: cover;
  }

  .kerugian-sebagian-partial-loss {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-pink);
    width: 198px;
    height: 48px;
  }

  .spicy-nachos {
    position: absolute;
    top: 10px;
    left: 52px;
    display: inline-block;
    font-weight: 700;
    width: 134px;
    height: 39px;
    z-index: 1;
  }

  .container {
    align-self: stretch;
    height: 525px;
    align-items: flex-end;
    gap: 68px 0;
    text-align: left;
    font-size: var(--font-size-mini);
    color: var(--color-black);
    font-family: var(--font-inter);
  }